<style>
    .modal-backdrop {
        z-index: 0 !important;
    }
</style>
@using OnlineShop.Models

@{
    var shoppingCart = (ShoppingCart)Session["ShoppingCart"];
    var count = 0;
    if (shoppingCart != null)
    {
        count = shoppingCart.ShoppingCartItems.Count;
    }
}

<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="#" data-toggle="modal" data-target="#shoppingcart-modal">
            <span aria-hidden="true" style="margin-right: 4px" class="glyphicon glyphicon-shopping-cart"></span>
            <span id="notification-count" class="badge">
                @count
            </span>
        </a>
    </li>
</ul>



<!-- Modal -->
<div class="modal fade" id="shoppingcart-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Shopping Cart Items</h4>
            </div>
            <div class="modal-body">
                <div id="notification" style="height: 300px; overflow-y: auto">
                    @if (shoppingCart != null)
                    {
                        <table class="table table-condensed table-bordered table-hover">
                            <tr>
                                <th>Id</th>
                                <th></th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>Sum</th>
                            </tr>
                            @{
                                decimal total = 0;
                            }
                            @foreach (var shoppingCartItem in shoppingCart.ShoppingCartItems)
                            {
                                <tr>
                                    <td>
                                        @shoppingCartItem.Item.Id
                                    </td>
                                    <td>
                                        @if (string.IsNullOrEmpty(shoppingCartItem.Item.ImageUrl) == false)
                                        {
                                            <img src="@Url.Content(shoppingCartItem.Item.ImageUrl)" style="width: 80px" />
                                        }

                                    </td>
                                    <td>
                                        @shoppingCartItem.Item.Name
                                    </td>
                                    <td>
                                        @shoppingCartItem.Quantity
                                    </td>
                                    <td>
                                        @shoppingCartItem.Item.Price.ToString("N0")
                                    </td>
                                    <td>
                                        @shoppingCartItem.Item.Discount.ToString("N0")
                                    </td>
                                    <td>
                                        @{
                                            var quantity = shoppingCartItem.Quantity;
                                            var price = shoppingCartItem.Item.Price;
                                            var discount = shoppingCartItem.Item.Discount;
                                            var sum = (quantity * price) * (100 - discount);
                                            total = total + sum;
                                        }

                                        @sum.ToString("N0")
                                    </td>
                                </tr>

                                            }
                            <tr>
                                <td colspan="6">
                                    Total:
                                </td>
                                <td>
                                    <strong>
                                        @total.ToString("N0")
                                    </strong>
                                </td>
                            </tr>
                        </table>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" href="@Url.Action("CheckOut", "ShoppingCart")">Check out</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>